<div class="container">
  <h1>Data Binding</h1>

  <div>
    <p class="nokeKey">[1]Data1: {{ data1 }}</p>
  </div>
  <div>
    <p class="nokeKey">[2]ReturnString: {{ returnString() }}</p>
  </div>
  <div>
    <p class="nokeKey">
      [3]Bind button disabled state to `btnDisabled` property
      <span><button [disabled]="btnDisabled">Save</button></span>
    </p>
  </div>

  <div>
    <p class="nokeKey">[4]Pass and use data with event binding</p>
    <input type="text" (input)="submitInput($event)" />
    <p>input value: {{ inputValue }}</p>
  </div>

  <div>
    <p class="nokeKey">
      [5]Two way binding
      <em>IMPORTANT: import FormsModule in app.module.ts file</em>
    </p>
    <input type="text" [(ngModel)]="inputValue" />
    <p>Two way binding: {{ inputValue }}</p>
  </div>

  <div>
    <p class="nokeKey">
      [6]Binding with FormGroup and FormControl
      <em>IMPORTANT: import ReactiveFormsModule in app.module.ts file</em>
    </p>
  </div>
  <div>
    <form [formGroup]="bindForm">
      <div>
        <label>Email</label>
        <div>
          <label *ngIf="formIsTouched && !emailIsValid">(Invalid email)</label>
        </div>
        <input type="email" formControlName="email" required />
      </div>

      <div>
        <div><label>Password</label></div>
        <div>
          <label *ngIf="formIsTouched && !pwdIsValid">(Invalid password)</label>
        </div>
        <input type="password" formControlName="password" required />
      </div>

      <button (click)="retriveFormValue()">Show FormGroup Value</button>
      <p>JSON.stringify: {{ retrievedFormValue }}</p>
    </form>
  </div>
  <div>
    <h1>Pipe</h1>
    <div>
      <p class="nokeKey">[7]Custom pipe</p>
    </div>
    <div>
      <p>My pipe {{ myPipeStr | myPipe }}</p>
      <p>
        Pipe with parameters:
        {{ myPipeStr | pipeWithParams: "--Before--":"--After--" }}
      </p>
    </div>
  </div>

  <div>
    <h1>Directive</h1>
    <p class="nokeKey">[8]Custom directive</p>
    <div><p appMyDirective>Directive</p></div>
    <div>
      <p
        [appShadow]="directiveParam"
        [appShadowX]="'12px'"
        [appShadowY]="'6px'"
        [appShadowBlur]="'30px'"
      >
        Shadow Drective??
      </p>
    </div>
    <div addEleChild>Appended text:</div>
  </div>

  <div>
    <h1>ng-content</h1>
    <p class="nokeKey">[9]ng-content example</p>
    <add-btn>Add One</add-btn>
  </div>

  <div>
    <h1>Custom Popup window</h1>
    <p class="nodeKey">[10]My custom popup window</p>
    <button (click)="openPopup()">Open</button>
    <popup-window #modalRef>what is this</popup-window>
  </div>

  <div>
    <footer class="footer"></footer>
  </div>
</div>
