.db-container {
  width: 100%;
}

.db-content {
  margin: 20px auto;
  width: 400px;
  padding-top: 5px;
}

hr {
  margin: 20px 0px;
}

strong {
  font-size: 1.2rem;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
