@mixin flexcenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

header {
  height: 10vh;
  background: lightblue;
  @include flexcenter(column);

  button {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: $primaryBtn;

    &:hover {
      background-color: white;
      color: $primaryBtn;
    }
  }
}
