* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery img {
  width: 100%;
}
