mat-sidenav-container,
mat-sidenav-content mat-sidenave {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a::after {
  color: rgb(253, 199, 208);
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 7px;
}
